ul.list-unstyled,
ul.list-unstyled-coin{
  display: inline-block;
  color: #ffffff;
  padding-left: 0px;
}
ul.list-unstyled i,
ul.list-unstyled-coin i{
  position: absolute;
  right: 5px;
  top: 7px;
  color: #838383;
  font-size: 12px;
}
ul.list-unstyled li,
ul.list-unstyled-coin li {
  padding: 5px 5px;
  z-index: 2;
  position: relative;
  font-size: 12px;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  padding: 0px 5px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  color: #838383;
}
ul.list-unstyled li:not(.init),
ul.list-unstyled-coin li:not(.init) {
  width: 100%;
  display: none;
  background: #ffffff;
  position: absolute;
  text-align: left;
  color: #404040;
  border: 1px solid #dddd;
}
ul.list-unstyled li:not(.init).ina,
ul.list-unstyled-coin li:not(.init).ina {
  top: 25px;
}
ul.list-unstyled li:not(.init).eng,
ul.list-unstyled-coin li:not(.init).eng {
  top: 56px;
}
ul.list-unstyled li:not(.init):hover,
ul.list-unstyled-coin li:not(.init):hover,
ul.list-unstyled li.selected:not(.init),
ul.list-unstyled-coin li.selected:not(.init) {
  background: #dfe0ff;
  cursor: pointer;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  cursor: pointer;
}
ul.list-unstyled-coin {
  list-style: none;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none !important;
}

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.container{
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
}
.container.menu__head{
  max-width: 1330px;
}
.row{
  margin-left: -10px;
  margin-right: -10px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-left: 10px;
  padding-right: 10px;
}
.alert-dismissible {
  padding-right: 2.5rem;
}
.dropdown-toggle::after{
  content: none;
}

header{
  background-color: #fafafa;
  border-top: 3px solid #00acc4;
  color: #838383;
}
header nav.bg-light{
  padding: 16px 0px;
}
header nav.navbar-expand-lg .navbar-collapse{
  display: block !important;
}
header ul.navbar-nav {
  display: block;
  text-align: right;
}
header ul.navbar-nav li{
  display: inline-block;
  position: relative;
}
header ul.navbar-nav li::after{
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #838383;
}
header ul.navbar-nav li:last-child::after,
header ul.navbar-nav li.init::after{
  content: none;
}
header ul.navbar-nav li a{
  color: #838383 !important;
  padding: 0px 13px !important;
  font-size: 13px;
}
header ul.navbar-nav li a:hover{
  color: #4976a0 !important;
}
header ul.navbar-nav li.lang{
  padding-right: 12px;
}
header ul.navbar-nav li.nav-item .fa{
  font-size: 20px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
